.Landing {
  background-image: url(./images/landing_background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landingLogo {
  padding-top: 150px;
  display: block;
  margin: 0 auto;
}

.textLanding {
  text-align: center;
}

.textLandingHighlight {
  text-align: center;
  color: red;
  text-decoration: underline;
}

.container-textLanding {
  padding: 35px 0;
}

.buttonStart {
  background-color: red;
  border: none;
  color: white !important;
  padding: 37px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

.buttonStart a{
  color: white !important;
  text-decoration: none !important;
}

.container-start-button {
  padding: 30px;
  text-align: center;
}