.navbar {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: red;
}

.logo {
  float: left;
  display: block;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}